SERVER_NAME=CS16 Platform

SERVER_IP=0.0.0.0
SERVER_PORT=27015
MAXPLAYERS=32
START_MAP=de_dust2

RCON_PASSWORD=ChangeMe123

STEAMCMD_DIR=/opt/steamcmd
SERVER_DIR=/opt/cs16/server

POSTGRES_DB=cs16
POSTGRES_USER=cs16
POSTGRES_PASSWORD=cs16
POSTGRES_PORT=5432