SERVER_NAME=CS16 Platform
SERVER_PORT=27015
RCON_PASSWORD=ChangeMe123!
MAXPLAYERS=32

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=cs16
POSTGRES_USER=cs16
POSTGRES_PASSWORD=cs16

API_PORT=8000